* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

header {
    background: #111;
    color: white;
    padding: 15px 20px;
}

header h1 {
    display: inline-block;
}

nav {
    float: right;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

nav a:hover {
    color: #ff4d4d;
}

.breaking {
    background: red;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.main {
    flex: 3;
}

.featured {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.featured img {
    width: 100%;
    border-radius: 6px;
}

.featured h2 {
    margin: 10px 0;
}


.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.card:hover {
    transform: translateY(-5px);
}


.sidebar {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 6px;
    height: fit-content;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 8px 0;
}


footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

@media(max-width:992px) {
    .news-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {
    .container {
        flex-direction: column;
    }

    nav {
        float: none;
        margin-top: 10px;
    }

    .news-grid {
        grid-template-columns: 1fr;
    }
}